@using Presentation.ViewModels;
@model PaginationViewModel

<nav aria-label="Album navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Home", new { pageIndex = Model.CurrentPage - Model.PageSize, pageSize = Model.PageSize })" tabindex="-1">Previous</a>
        </li>
        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Home", new { pageIndex = Model.CurrentPage + Model.PageSize, pageSize = Model.PageSize })">Next</a>
        </li>
    </ul>
</nav>