@using ApplicationCore.Entities;
@model IEnumerable<AlbumType>
<form asp-controller="Album" asp-action="Create" method="post">
    <div class="form-group" >
        <label for="albumName">Album Name</label>
        <input type="text" class="form-control" id="albumName" name="albumName" placeholder="Enter the album name">
    </div>
    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" class="form-control" id="artist" name="artist" placeholder="Enter the name of the artist">
    </div>
    <div class="form-group">
        <label for="recordLabel">Label</label>
        <input type="text" class="form-control" id="recordLabel" name="recordLabel"placeholder="Enter the name of the record label">
    </div>
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter the stock available for this album">
    </div>
    <div class="form-group">
        <label for="albumType">Album Type</label>
        <select class="form-control" id="albumType" name="albumType">
            @foreach (var type in Model)    
            {
                <option>@type.ToString()</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>